<div class="row">
  <div class="span1" style="padding-top: 10px; width: 83px;">
    <a href="#" id="Comment-<%= @comment.id %>-VoteCount" class="btn icon-thumbs-up action-button" style="cursor:default; width: 57px;">&nbsp;<%= @comment.vote_count %></a>
    <% if can? :create, Vote.new(:voteable_id => @comment.id, :voteable_type => 'Comment', :user => current_user) %>
        <a href="#" id="Comment-<%= @comment.id %>" class="btn btn-inverse vote-button" style="font-size: 15px; width: 57px;">Vote
          up!</a>
    <% end %>
  </div>
  <div class="span10" style="width: 792px; border: 2px solid #ccc; border-radius: 12px;">
    <div class="wordwrap" style="min-height: 150px; padding: 10px 10px; width: 770px"><%= @comment.content %></div>
    <div style="padding: 10px; border-top: 1px solid #ccc; margin-bottom:22px; font-size: 12px" class="no-space">
      <div class="span4">Last updated
        by <%= @comment.user ? (link_to @comment.user.email, search_url('user', @comment.user.email)) : 'Anonymous' %> <%= time_ago_in_words(@comment.created_at) %> ago
      </div>
    </div>
  </div>
  <div class="span1" style="text-align: left; padding-top: 10px">
    <% if can? :destroy, @comment %>
        <%= link_to '', @comment, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn icon-remove action-button' %>
    <% end %>
    <% if can? :update, @comment %>
        <%= link_to '', edit_comment_path(@comment), class: 'btn icon-pencil action-button' %>
    <% end %>
  </div>
</div>
<br/><br/>